*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100%;
    height: 90vh;
    padding: 30px;
}
.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-left{
    width: 25%;
    height: auto;
    padding-left: 100px;
}
.navbar-middle{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-middle li{
    list-style: none;
}
.navbar-middle a{
    text-decoration: none;
    font-size: 15px;
    color: gray;
}
.navbar-middle a:hover{
    text-decoration: underline 2px rgba(10, 10, 157, 0.908);
}
.navbar-right{
    width: 15%;
    height: auto;
}
.navbar-right button{
    width: 150px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(52, 52, 131, 0.908);
    background-color: pink;
    border: hidden;
    border-radius: 15px;
}
.navbar-right button:hover{
    background-color: rgb(253, 175, 188);
}
#respon{
    display: none;
}
.container-1{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 100px;

}
.container-1-left{
    width: 45%;
    height: 85vh;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding-inline: 50px;
    padding-top: 50px;
    /* background-color: aqua; */

}
.container-1-left b{
    color: rgba(57, 57, 157, 0.908);
}
.container-1-left ul{
    width: 55%;
    height: auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    width: 80%;
    height: auto;
    margin-top: 200px;
}
.container-1-left span{
    width: 85%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-1-left img{
    width: auto;
    height: 60px;
    margin-right: 10px;
}
.container-1-left button{
    width: 50px;
    height: 50px;
    font-size: 14px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 15px;
    
}
.container-1-left i{
    color: black;
}
#account{
    width: 130px;
    height: 50px;
    font-size: 13px;
    color: white;
    background-color: rgba(65, 65, 175, 0.908);
    border: hidden;
    border-radius: 15px;
}
#account:hover{
    background-color: rgba(44, 44, 121, 0.908);
}

.container-1-left h1{
    font-size: 70px;
    padding-block: 20px;
}
.container-1-left p{
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 25px;
}
.container-1-right{
    width: 55%;
    height: 85vh;
    padding-right: 50px;
    /* background-color: aqua; */
}
.container-1-right img{
    width: 100%;
    height: 100%;
}


@media(max-width:768px){
 
    .main-container{
        width: 100%;
        height: 90vh;
        padding: 10px;
    }
    .navbar{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-left{
        width: 55%;
        height: auto;
        padding-left: 40px;
    }
    .navbar-middle{
        display: none;
    }
    .navbar-right{
        width: 15%;
        height: auto;
    }
    .navbar-right button{
        display: none;
    }
    #respon{
        width: 50px;
        height: 45px;
        display: inline;
        border-radius: 10px;
    }
    .container-1{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding-inline: 80px;
    
    }
    .container-1-left{
        width: 100%;
        height: 85vh;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        padding-inline: 10px;
        padding-top: 50px;
        /* background-color: aqua; */
    
    }
    .container-1-left b{
        color: rgba(57, 57, 157, 0.908);
    }
    .container-1-left ul{
        width: 58%;
        height: auto;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #logo{
        width: 100%;
        height: auto;
        margin-top: 100px;
    }
    .container-1-left span{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .container-1-left img{
        width: auto;
        height: 60px;
        margin-right: 10px;
    }
    .container-1-left button{
        width: 50px;
        height: 50px;
        font-size: 14px;
        background-color: white;
        border: 1px solid gray;
        border-radius: 15px;
        
    }
    .container-1-left i{
        color: black;
    }
    #account{
        width: 130px;
        height: 50px;
        font-size: 13px;
        color: white;
        background-color: rgba(65, 65, 175, 0.908);
        border: hidden;
        border-radius: 15px;
    }
    #account:hover{
        background-color: rgba(44, 44, 121, 0.908);
    }
    
    .container-1-left h1{
        font-size: 70px;
        padding-block: 20px;
    }
    .container-1-left p{
        font-size: 18px;
        line-height: 26px;
        padding-bottom: 25px;
    }
    .container-1-right{
        width: 100%;
        height: 85vh;
        padding-right: 10px;
        /* background-color: aqua; */
    }
    .container-1-right img{
        width: 100%;
        height: 100%;
    }
}